<div class="devise" style="text-aling:center; height: 55vh">
  <div class="devise-body">
    <h2><%=t('login')%></h2>

    <div class="devise-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <br>
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-block btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

