<!DOCTYPE html>
<html>
  <head>
    <title>Tabloide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
      <div class="container">
        <a class="navbar-brand" href="/">Tabloide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="form-inline my-2 my-lg-0">
          <a href="<%=(user_signed_in? ? "/users/sign_out" : "/users/sign_up")%>" class="btn btn-outline-light my-2 my-sm-0" type="submit"><%=(user_signed_in? ? "sair" : "cadastre-se para receber promoções")%></a>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
